.row .row:before, .row .row:after {
  content: " ";
  display: table; }

.row:before, .row:after {
  content: " ";
  display: table; }

*, *:before, *:after {
  box-sizing: border-box; }

.row .row:after {
  clear: both; }

.row .row:before, .row .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.row:before, .row:after {
  content: " ";
  display: table; }

*, *:before, *:after {
  box-sizing: border-box; }

.row {
  margin: 0 auto;
  max-width: 70.5555rem;
  width: 100%; }

.row.display .columns:nth-child(2),
.row.display .columns.small-centered,
.row.display .columns.large-centered {
  background: none repeat scroll 0 0 #e1e1e1; }

[class*="column"] + [class*="column"]:last-child {
  float: right; }

.column, .columns, .col {
  display: block;
  float: left;
  margin: 1% 0 1% 1%; }

.row .col:first-child,
.col.first-child,
.first-col {
  margin-left: 0; }

/*  COLUMN SETUP  */
.col, .column, .columns {
  display: block;
  float: left;
  margin: 1% 0 1% 1.1%; }

.col.fr {
  float: right; }

.col:first-child {
  margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 */ }

/*  GRID OF TWELVE  */
.wide-12-of-12 {
  width: 100%; }

.wide-11-of-12 {
  width: 91.57%; }

.wide-10-of-12 {
  width: 83.15%; }

.wide-9-of-12 {
  width: 74.72%; }

.wide-8-of-12 {
  width: 66.3%; }

.wide-7-of-12 {
  width: 57.87%; }

.wide-6-of-12 {
  width: 48.8888%; }

.wide-5-of-12 {
  width: 41.02%; }

.wide-4-of-12 {
  width: 32.6%; }

.wide-3-of-12 {
  width: 24.17%; }

.wide-2-of-12 {
  width: 15.75%; }

.wide-1-of-12 {
  width: 7.325%; }

@media all and (min-width: 799px) {
  .col-12-of-12 {
    width: 100%; }

  .col-11-of-12 {
    width: 91.57%; }

  .col-10-of-12 {
    width: 83.15%; }

  .col-9-of-12 {
    width: 74.72%; }

  .col-8-of-12 {
    width: 66.3%; }

  .col-7-of-12 {
    width: 57.87%; }

  .col-6-of-12 {
    width: 48.8888%; }

  .col-5-of-12 {
    width: 41.02%; }

  .col-4-of-12 {
    width: 32.6%; }

  .col-3-of-12 {
    width: 24.17%; }

  .col-2-of-12 {
    width: 15.75%; }

  .col-1-of-12 {
    width: 7.325%; }

  body.popOpen div.food-pop {
    min-width: auto;
    width: auto;
    max-height: 470px;
    height: 470px;
    transition: all .2s ease; }
    body.popOpen div.food-pop .left-wrap .button-row-wrapper .btn-direction {
      width: 90%; }
    body.popOpen div.food-pop .left-wrap .button-row-wrapper .btn-direction-prev {
      margin-left: 11%; } }
@media all and (min-width: 700px) {
  body .photo-icons-block {
    padding-left: 8%; }
    body .photo-icons-block p.txt-instruct {
      right: 5%; } }
@media all and (max-width: 799px) and (min-width: 481px) {
  /*  GRID OF NINE  */
  .col-0-of-9 {
    display: none; }

  .col-1-of-9 {
    width: 9.688%;
    margin-left: 0; }

  .col-2-of-9 {
    width: 20.97%; }

  .col-3-of-9 {
    width: 32.26%; }

  .col-4-of-9 {
    width: 43.55%; }

  .col-5-of-9 {
    width: 54.84%; }

  .col-6-of-9 {
    width: 66.13%; }

  .col-7-of-9 {
    width: 77.42%; }

  .col-8-of-9 {
    width: 88.71%; }

  .col-9-of-9 {
    width: 100%;
    clear: both; }

  body.showFood #pop_food .inner {
    opacity: .9; }

  body.showFood #pop_food .right-icon-wrapper {
    width: 39.9%;
    overflow: hidden; }

  body.showFood #pop_food .right-icon-wrapper .photo-icon-wrapper {
    width: 90%;
    max-width: 200px;
    overflow: hidden;
    float: right;
    margin-bottom: 1%;
    margin-right: 5%;
    padding: 5%; }

  body.showFood #pop_food .left-pop-display {
    float: left;
    padding-top: 5%;
    width: 59.9%; }

  body.showFood #pop_food .left-pop-display #display_screen {
    width: 440px; }

  body #pop_food .link-close {
    margin-right: 10px;
    margin-top: 10px;
    width: 36px;
    height: 36px;
    background: #fff;
    z-index: 1001;
    right: 0;
    left: 10px; }

  body .pop-food a.link-close span {
    background: #333 url("../imgs/close-win-bg.gif") no-repeat scroll center center;
    height: 26px;
    width: 26px; }

  body.ready #menu_full_wrapper {
    top: -2000%; }

  body.ready.showMenu #menu_full_wrapper {
    top: 3%; }

  body div.home-photo-wrapper .kyu-tag-wrapper .tag-wrap .tag-left-wrap {
    left: -275%; }

  body .button-wrapper .txt-center button {
    width: 98%; }

  body .home-photo-wrapper .kyu-tag-wrapper .tag-wrap {
    height: 120px;
    margin-top: -5%;
    width: 120px; }

  body .photo-icons-block {
    padding-right: 0%;
    padding-left: 3%;
    margin-left: 4%;
    margin-right: 4%;
    width: 91%; }
    body .photo-icons-block p.txt-instruct {
      right: 4%; }
    body .photo-icons-block div.box-photo-wrapper {
      margin-left: 1%; }

  div.hours-open-block {
    margin-left: 8%; }

  div.dine-specials-block {
    margin-left: 10%; }

  body.popOpen div.food-pop {
    min-width: auto;
    width: auto;
    max-height: 700px;
    height: 700px;
    margin: 5%;
    transition: all .2s ease; }

  div.food-pop div.left-wrap div.display-screen {
    min-width: 480px;
    max-width: 480px;
    min-height: 340px;
    max-height: 340px;
    width: 480px !important;
    height: 340px !important; }
  div.food-pop div.left-wrap div.button-row-wrapper {
    min-width: 480px;
    max-width: 480px; }
  div.food-pop div.right-wrap div.photo-icon-wrapper {
    margin-top: 0%;
    margin-left: 4%;
    width: auto; }
  div.food-pop div.right-wrap p.header {
    min-width: 480px;
    max-width: 480px;
    margin: 0% auto 2% auto;
    font: normal 14px arial;
    clear: both; } }
/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  /*  GRID OF FOUR  */
  .col-0-of-4 {
    display: none; }

  .col-1-of-4 {
    width: 23.8%;
    margin-left: 0; }

  .col-2-of-4 {
    width: 49.2%; }

  .col-3-of-4 {
    width: 74.6%; }

  .col-4-of-4 {
    width: 100%;
    clear: both; }

  div.col-wide33 {
    width: 33% !important; }

  div.food-pop {
    display: none; }

  body .hours-open-block {
    min-width: 285px;
    margin-bottom: 4%;
    margin-left: 4%; }

  body .container {
    padding-bottom: 50px; }

  body h1 {
    top: 20px; }

  body div.button-wrapper div.order-wrap {
    margin-left: -.1%;
    margin-bottom: 4%;
    margin-top: 3%; }

  body .col-hid {
    display: block; }

  body div.tag-left-wrap,
  body div.tag-right-wrap {
    display: none; }

  body p.heart,
  body p.heart:first-line {
    white-space: nowrap !important; }

  body .block-address.block-email {
    margin-top: -2.5%; }

  body .block-address.block-phone {
    display: none; }

  body .photo-icons-block .box-photo-wrapper {
    padding-top: 10%;
    padding-left: 9%;
    padding-bottom: 2.5%; }

  body .bottom-block {
    max-width: 300px;
    min-width: 320px;
    margin: 4%;
    margin-left: 4%;
    margin-right: 0%;
    width: 90%; }

  body .photo-icons-block {
    margin-left: 3% !important; }

  body .home-photo-wrapper .kyu-tag-wrapper {
    max-height: 160px;
    min-height: 160px;
    vertical-align: top;
    margin-top: -10%; }

  body div.button-wrapper {
    padding-top: 0;
    margin-top: -4%; }

  body div.button-wrapper button {
    height: 70px !important;
    margin-top: -2.5%; }

  body .home-photo-wrapper .kyu-tag-wrapper .tag-wrap {
    margin-top: -8%;
    width: 120px;
    height: 120px; }

  body .home-photo-wrapper {
    height: 600px;
    min-height: 600px; }

  body .home-photo-wrapper .home-address-wrap .block-address {
    height: 65px; }

  body .home-photo-wrapper .home-tag-wrap .home-tag-inner {
    margin: 2%;
    width: 90%; }

  body .home-photo-wrapper .home-tag-wrap .home-tag-inner h2 {
    padding-top: 40%;
    font-size: 100%; }

  body .drinks-mobile-wrap {
    overflow: hidden;
    padding: 0% 4%;
    width: 110%;
    border: dotted 1px #666;
    background-color: #111;
    border-radius: 4px;
    clear: both;
    margin-top: 7%; }

  body a.link-scroll-top {
    padding-top: 7.5%; }

  body .menu-wrapper h2 {
    padding-top: 5%;
    margin-bottom: -2% !important; }

  body .photo-icons-block p.txt-instruct {
    top: 10%;
    font-size: 90%; }

  body .home-photo-wrapper {
    height: 360px; }

  body .button-wrap {
    padding-top: 5%;
    margin-top: 0;
    min-height: 280px; }

  body .small-sho {
    display: block; }

  body .button-wrap .button-inner-wrap button {
    min-width: 275px !important;
    margin-bottom: 2%; }

  body button.btn-order {
    margin-left: -2%; }

  body footer {
    width: 100%;
    height: 0px;
    min-height: 40px;
    z-index: 101;
    opacity: 0;
    bottom: 0;
    padding: 0;
    transition: all .5s ease; }

  body footer a.icon-link-facebook,
  body footer a.icon-link-yelp,
  body footer a.twitter-link {
    width: 100%; }

  body .menu-full-wrapper {
    top: -1500%;
    transition: all  .5s ease !important; }

  body.showFood #pop_food {
    min-height: 780px !important;
    width: 320px !important;
    height: auto !important;
    margin: 5%; }

  body #pop_food .link-close {
    margin-right: 10px;
    margin-top: 6px;
    width: 36px;
    height: 36px;
    background: #fff;
    z-index: 1001; }

  body .pop-food a.link-close span {
    background: #333 url("../imgs/close-win-bg.gif") no-repeat scroll center center;
    height: 26px;
    width: 26px; }

  body .pop-food .overlayer .right-icon-wrapper .photo-icon-wrapper {
    width: 98% !important;
    padding-top: 7%; }

  body #pop_food .inner {
    opacity: 0.9; }

  body button.btn-direction {
    width: 94% !important;
    min-height: 44px; }

  body #pop_food .left-pop-display {
    width: 320px;
    height: 260px; }

  body #pop_food .right-icon-wrapper {
    width: 320px;
    position: absolute;
    bottom: 0px; }

  body #pop_food #display_screen {
    height: 230px;
    width: 290px;
    margin-top: 50px; }

  body #pop_food .right-icon-wrapper .photo-icon-wrapper {
    margin: 1%;
    min-height: 370px; }

  body footer.fixed {
    position: fixed;
    opacity: 1;
    padding-bottom: 50px;
    transition: all 1.5s ease; }

  body footer .icon-link-yelp,
  body footer .icon-link-facebook {
    display: block;
    min-height: 50px;
    min-width: 50px; }

  body.popOpen div.desc-wrap {
    padding: -1% 5% 2% 5%; }

  body.popOpen div.food-pop {
    min-width: auto;
    width: auto;
    min-height: 900px;
    max-height: 940px;
    height: 940px;
    transition: all .2s ease;
    display: block; }
    body.popOpen div.food-pop a.link-close {
      right: 0px;
      width: 36px;
      height: 36px;
      background: 0; }
      body.popOpen div.food-pop a.link-close span.cross {
        height: 30px;
        width: 6px; }
    body.popOpen div.food-pop div.right-wrap p.header {
      width: 240px;
      display: inline-block;
      margin: 0% 2% 0% 10%; }
    body.popOpen div.food-pop div.right-wrap div.photo-icon-wrapper {
      margin-top: 4%;
      margin-left: 9%;
      width: auto; }
      body.popOpen div.food-pop div.right-wrap div.photo-icon-wrapper a.icon-pop-food {
        width: 90px;
        height: 90px; }
        body.popOpen div.food-pop div.right-wrap div.photo-icon-wrapper a.icon-pop-food div.inner {
          top: 90px; }
    body.popOpen div.food-pop div.left-wrap div.display-screen {
      margin-top: 7%;
      width: 300px !important;
      height: 240px !important; }

  .col-4-of-4 button.btn-direction {
    width: 84% !important;
    margin-left: 6% !important; }

  .col-4-of-4 button.btn-direction-prev {
    margin-left: 7% !important; } }

/*# sourceMappingURL=responsive.css.map */
